
.card-report-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 100px;
    background-image: url('https://majidalfuttaim.sharepoint.com/sites/SBIU/Report/assets/images/report-thumbnail-red.png');
    cursor: pointer;
}

.card-report-footer {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 40px;
    background-image: url('https://majidalfuttaim.sharepoint.com/sites/SBIU/Report/assets/images/report-thumbnail-brown.png');
    cursor: pointer;
}




.report-card-new-flag {
    visibility: visible;
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    z-index: 10;
    padding-left: .375rem;
    padding-right: .375rem;
    padding-bottom: .25rem;
    padding-top: .25rem;
    border-radius: .5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(138 21 56 / var(--tw-bg-opacity));
    text-transform: uppercase;
    font-size: .75rem;
    line-height: 1rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    //visible absolute left-6 bottom-6 z-10 px-1.5 py-1 rounded bg-palette-burgundy uppercase text-xs text-white
}


mat-form-field {
    width: 100%;
  }

/* styles.css */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.card {
    border: 1px solid #ccc;
}

.card-title {
    color: #fff;
    font-size: 1.2rem;
    padding: 5px 10px;
}

.card-report-body {
    height: 275px;
    --tw-bg-opacity: 1;
    padding: 5px 10px;
    background-color: rgb(244 239 233 / var(--tw-bg-opacity));
    cursor: pointer;
}

.card-report-footer {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-image: url('https://majidalfuttaim.sharepoint.com/sites/SBIU/Report/assets/images/report-thumbnail-brown.png');
    cursor: pointer;
}

.card-footer-text {
    color: #fff;
    font-size: 0.8rem;
    text-align: end;
    align-items: center;
    margin: 10px 10px;
}
/* Main container for most-watched section */
/* Main container for most-watched section */
.most-watched {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  /* Grid layout for OpCo sections (two columns) */
  .most-watched-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns per row */
    gap: 10px; /* Space between columns and rows */
  }
  
 /* Container to display opco keys in two columns */
.opco-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns per row */
    gap: 20px; /* Space between columns */
    padding: 10px;
  }
  
  /* Each OpCo column style */
  .opco-column {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 300px;
  }
  
  /* OpCo column hover effect */
  .opco-column:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  
  /* Section Heading for each OpCo */
  .opco-title {
    font-size: 1.0rem;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(195, 172, 123); /* Vibrant background */
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  }
  
  /* Tile container within each OpCo */
  .tile-container {
    max-height: 200px; /* Max height for scrollable container */
    overflow-y: auto;  /* Enable scrolling if items exceed max height */
  }
  
  /* Tile style */
  .tile {
    margin-bottom: 15px;
    cursor: pointer; /* Indicate clickability */
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    border-radius: 8px; /* Rounded corners for tile */
    padding: 10px; /* Add some padding inside tiles */
    background-color: #fff; /* Set background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  }
  
  .tile:hover {
    transform: translateY(-3px); /* Hover effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(247, 245, 244); /* Background color change on hover */
  }
  
  /* Tile header containing title, date, and image */
  .tile-header {
    display: grid;
    grid-template-columns: 1fr auto; /* Two columns: one for text (Title + Date), other for image */
    gap: 10px; /* Space between columns */
    align-items: center; /* Align items vertically */
  }
  
  /* Title and Date section in the first column */
  .tile-heading-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .tile-title {
    font-size: 0.7rem;
    font-weight: 600;
    color: #555;
    flex: 1;
    margin-bottom: 5px;
  }
  
  .tile-date {
    font-size: 0.6rem;
    color: #777;
  }
  
  /* Image section in the second column */
  .tile-image-column {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tile-image-holder {
    width: 70px;  /* Reduced width */
    height: 50px; /* Reduced height */
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    flex-shrink: 0;
  }
  
  /* Footer containing description */
  .tile-footer {
    margin-top: 10px;
  }
  
  /* Description inside the tile */
  .tile-description {
    font-size: 0.6rem;
    color: #555;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  /* Scrollbar style for the tile container */
  .tile-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .tile-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
  
  .tile-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  
  .opco-title:hover {
    transform: translateY(-5px); /* Subtle lift on hover */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */

  } 